<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PNTProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <ul class="nav navbar-nav navbar-right">
        @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
    }
    else
    {
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    }
    </ul>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            background-color: #333;
        }

            .navbar a {
                color: white;
                text-decoration: none;
                padding: 10px 20px;
            }

                .navbar a:hover {
                    background-color: #ddd;
                    color: black;
                }

        .container {
            margin: 0 auto;
            max-width: 1200px;
            padding: 20px;
            flex: 1;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            width: 100%;
            position: relative;
        }
    </style>
</head>
<body>
    <header>
        <h1>@ViewData["Title"] - Patitas&Corazones</h1>
    </header>
    <nav class="navbar">
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Publicaciones" asp-action="Index">Publicaciones</a>
        <div class="filter-bar">
            <select id="OpcionesDeUsuario" onchange="handleUserOptionsChange()">
                <option value="">Opciones de Usuario</option>

                @if (User.Identity.IsAuthenticated)
                {
                    <option value="perfil">Ir a perfil</option>
                    <option value="Crear Publicacion">Crear Publicacion</option>
                }
                else
                {
                    <option value="registrarse">Registrarse</option>
                    <option value="Login">Login</option>
                }

            </select>
        </div>
        <script>
            function handleUserOptionsChange() {
                var userOptions = document.getElementById('OpcionesDeUsuario');
                if (userOptions.value === 'registrarse') {
                    window.location.href = 'Usuarios/Create';   // Te redirge a x direccion.
                } else if (userOptions.value === 'Login') {
                    window.location.href = '../Account/Login';
                } else if (userOptions.value === 'Crear Publicacion') {
                    window.location.href = '/Publicaciones/Create';
                } else if (userOptions.value === 'perfil') {
                window.location.href = '/Perfil/Index';
                }
            }
        </script>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <p>&copy; 2023 - PNTProyecto - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Privacy</a></p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>