@model IEnumerable<PNTProyecto.Models.Publicacion>

    @{
    ViewData["Title"] = "Publicaciones";
    }

    <header class="banner">
        <h1>Paticas&Corazones</h1>
    </header>

    <div class="filter-bar-container">
        <div class="filter-bar">
            <select id="Filtro de Búsqueda" onchange="seleccionarFiltro()">
                <option value="">Filtro de Búsqueda</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
                <option value="ave">Ave</option>
                <option value="pez">Pez</option>
            </select>
        </div>
        <div class="filter-bar">
            <select id="Opciones de Usuario" onchange="handleUserOptionsChange()">
                <option value="">Opciones de Usuario</option>
                <option value="registrarse">Registrarse</option>
                <option value="Crear Publicacion">Crear Publicacion</option>
            </select>
        </div>
    </div>

    <div class="publicaciones-grid">
        @foreach (var item in Model)
        {
        <div class="publicacion-card">
            <button type="button" class="publicacion-button" onclick="redirectToDetails('@item.nroPublicacion')">
                <h2>@item.nombreMascota</h2>
                <img src="@item.imagen" alt="Imagen de la mascota">
                <p>@item.descripcion</p>
            </button>
        </div>
        }
    </div>

    <footer class="footer">
        
    </footer>

    @section Scripts {
        <script>
            function redirectToDetails(nroPublicacion) {
                window.location.href = '/Publicaciones/Details/' + nroPublicacion;
            }

            function handleUserOptionsChange() {
                var userOptions = document.getElementById('Opciones de Usuario');
                if (userOptions.value === 'registrarse') {
                    window.location.href = 'Usuarios/Create';
                } else if (userOptions.value === 'Crear Publicacion') {
                    window.location.href = 'Publicaciones/Create';
                }
            }
        </script>
    }

