@model PNTProyecto.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.UsuarioId</dd>

        <dt class="col-sm-2">Nombre de Usuario:</dt>
        <dd class="col-sm-10">@Model.NombreUsuario</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Teléfono:</dt>
        <dd class="col-sm-10">@Model.Teléfono</dd>
    </dl>
</div>
