@model PNTProyecto.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" class="form-control" />
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teléfono"></label>
        <input asp-for="Teléfono" class="form-control" />
        <span asp-validation-for="Teléfono" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="UsuarioId" />
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<a asp-action="Index">Volver a la lista</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
