@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1a1a1a;
            color: #eee;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            color: #4CAF50;
            margin-bottom: 20px;
        }

        .welcome-title {
            font-size: 24px;
            color: #4CAF50;
            margin-bottom: 10px;
        }

        .welcome-text {
            background-color: #333;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .welcome-text p {
                color: #eee;
                margin: 0;
                line-height: 1.5;
            }

                .welcome-text p strong {
                    color: #4CAF50;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Home Page</h1>
        <div class="welcome-title">Bienvenida/o a Patitas&Corazones</div>
        <div class="welcome-text">
            <p>Si solo tienes intenciones de ver las publicaciones, haz clic en el botón de arriba que dice <strong>"Todas las publicaciones"</strong>. Si tienes intenciones de registrarte para adoptar a una mascota, ve a <strong>"Opciones de Usuario"</strong> y selecciona <strong>Registrarse</strong>. También, si tienes intenciones de publicar a tu animalito, debes estar registrado. Una vez registrado y logueado, dirígete al apartado <strong>Crear publicación</strong> dentro de <strong>"Opciones de Usuario"</strong>.</p>
        </div>
    </div>
</body>
</html>
